pandas 
notebook
numpy
scikit-learn==1.3.0
matplotlib
python-box
pyYAML
ensure
joblib
types-PyYAML
Flask
Flask-Cors
dill
dnspython
evidently
fastapi
httptools
mypy-boto3-s3
pip-chill
pymongo
python-dotenv
types-s3transfer
uvicorn
watchfiles
websockets
wincertstore
xgboost
neuro-mf


-e .